{% load static %}
<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Social Book</title>

	<!-- Site favicon -->
	{% comment %} <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png"> {% endcomment %}
	<link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
	{% comment %} <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png"> {% endcomment %}
	<link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicon-32x32.png' %}">
	{% comment %} <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png"> {% endcomment %}
	<link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicon-16x16.png' %}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	{% comment %} <link rel="stylesheet" type="text/css" href="vendors/styles/core.css"> {% endcomment %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/core.css' %}">
	{% comment %} <link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css"> {% endcomment %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/icon-font.min.css' %}">
	{% comment %} <link rel="stylesheet" type="text/css" href="src/plugins/jquery-steps/jquery.steps.css"> {% endcomment %}
	<link rel="stylesheet" type="text/css" href="{% static '/plugins/jquery-steps/jquery.steps.css' %}">
	{% comment %} <link rel="stylesheet" type="text/css" href="vendors/styles/style.css"> {% endcomment %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>

<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="login.html">
					{% comment %} <img src="vendors/images/deskapp-logo.svg" alt=""> {% endcomment %}
					{% comment %} <img src="{% static '/images/deskapp-logo.svg' %}" alt=""> {% endcomment %}
					<h2> Social Book </h2>
					</a>
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a href="{% url 'login' %}">Login</a></li>
					{% comment %} <li><a href="{% url 'login' %}">Login</a></li> {% endcomment %}
				</ul>
			</div>
		</div>
	</div>
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					{% comment %} <img src="vendors/images/register-page-img.png" alt=""> {% endcomment %}
					<img src="{% static '/images/register-page-img.png' %}" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="register-box bg-white box-shadow border-radius-10">
						<div class="wizard-content">
							<form class="tab-wizard2 wizard-circle wizard" action="" Method="post">
								{% csrf_token %}
								<h5>Basic Account Credentials</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Email Address*</label>
											<div class="col-sm-8">
											{% if form.email.errors %}
            									<ul class="text-danger">
                									{% for error in form.email.errors %}
                    									<li>{{ error }}</li>
                									{% endfor %}
            									</ul>
        									{% endif %}
												{{ form.email }}
											</div>
										</div>
										<div class="form-group row">
    										<label class="col-sm-4 col-form-label">Username*</label>
    									<div class="col-sm-8">
        									{% if form.user_name.errors %}
            									<ul class="text-danger">
                									{% for error in form.user_name.errors %}
                    									<li>{{ error }}</li>
                									{% endfor %}
            									</ul>
        									{% endif %}
        									{{ form.user_name }}
    									</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Password*</label>
											<div class="col-sm-8">
												{% if form.password.errors %}
            									<ul class="text-danger">
                									{% for error in form.password.errors %}
                    									<li>{{ error }}</li>
                									{% endfor %}
            									</ul>
        									{% endif %}
												{{ form.password }}
											</div>
										</div>
										{% comment %} <div class="form-group row">
											<label class="col-sm-4 col-form-label">Confirm Password*</label>
											<div class="col-sm-8">
												{{ form.password }}
											</div>
										</div> {% endcomment %}
									</div>
								</section>
								<!-- Step 2 -->
								<h5>Personal Information</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Full Name*</label>
											<div class="col-sm-8">
												{% comment %} <input type="text" class="form-control"> {% endcomment %}
												{{ form.full_name }}
											</div>
										</div>
										<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Gender*</label>
											<div class="col-sm-8">
											 {% comment %} <div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" id="male" name="gender" class="custom-control-input">
													<label class="custom-control-label" for="male">Male</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" id="female" name="gender" class="custom-control-input">
													<label class="custom-control-label" for="female">Female</label> 
												</div> {% endcomment %}
												{{ form.gender }}
											</div>
										</div>
										<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Public visibilty*</label>
											<div class="col-sm-8">
												{{ form.public_visibility }}
											</div>
										</div>

										<div class="form-group row">
											<label class="col-sm-4 col-form-label">City</label>
											<div class="col-sm-8">
												{% comment %} <input type="text" class="form-control"> {% endcomment %}
												{{ form.city }}
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">State</label>
											<div class="col-sm-8">
												{% comment %} <input type="text" class="form-control"> {% endcomment %}
												{{ form.state }}
											</div>
										</div>
										<input class="btn btn-primary" type="submit" value="Submit">
										{% comment %}<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Birth year</label>
											<div class="col-sm-8">
												{{ form.birth_year }}
											</div>
										</div>
									</div>
								</section>
								<!-- Step 3 -->
								 <h5>Payment Method & Info</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										{% if form.user_name.errors %}
            									<ul class="text-danger">
                									{% for error in form.user_name.errors %}
                    									<li>Check Username</li>
                									{% endfor %}
            									</ul>
        									{% endif %}
										
										{% if form.email.errors %}
            									<ul class="text-danger">
                									{% for error in form.email.errors %}
                    									<li>Check Email</li>
                									{% endfor %}
            									</ul>
        									{% endif %}

										{% if form.Password.errors %}
            									<ul class="text-danger">
                									{% for error in form.password.errors %}
                    									<li>Check Password</li>
                									{% endfor %}
            									</ul>
        									{% endif %}

										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Credit Card Type</label>
											<div class="col-sm-8">
												{{ form.credit_card_type }}
											</div>
										</div>
										<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Credit Card Number</label>
											<div class="col-sm-8">
												
										
									</div>
								</section> {% endcomment %}
								<!-- Step 4 -->
								{% comment %} <h5>Overview Information</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<ul class="register-info">
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Email Address</div>
													<div class="col-sm-8">example@abc.com</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Username</div>
													<div class="col-sm-8">Example</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Password</div>
													<div class="col-sm-8">.....000</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Full Name</div>
													<div class="col-sm-8">john smith</div>
												</div>
											</li>
											<li>
												<div class="row">
													<div class="col-sm-4 weight-600">Location</div>
													<div class="col-sm-8">123 Example</div>
												</div>
											</li>
										</ul>
										<div class="custom-control custom-checkbox mt-4">
											<input type="checkbox" class="custom-control-input" id="customCheck1">
											<label class="custom-control-label" for="customCheck1">I have read and agreed to the terms of services and privacy policy</label>
											<input type="submit" value="submit">
										</div>
									</div>
								</section> {% endcomment %}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- success Popup html Start -->
	<button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
	<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered max-width-400" role="document">
			<div class="modal-content">
				<div class="modal-body text-center font-18">
					<h3 class="mb-20">Form Submitted!</h3>
					{% comment %} <div class="mb-30 text-center"><img src="vendors/images/success.png"></div> {% endcomment %}
					<div class="mb-30 text-center"><img src="{% static '/images/success.png' %}"></div>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				</div>
				<div class="modal-footer justify-content-center">
					<a href="{% url 'login' %}" class="btn btn-primary">Done</a>
					
				</div>
			</div>
		</div>
	</div>
	<!-- success Popup html End -->
	<!-- js -->
	
	<script src="{% static '/scripts/core.js' %}"></script>
	
	<script src="{% static '/scripts/script.min.js' %}"></script>
	
	<script src="{% static '/scripts/process.js' %}"></script>
	
	<script src="{% static '/scripts/layout-settings.js' %}"></script>
	
	<script src="{% static 'plugins/jquery-steps/jquery.steps.js'%}"></script>

	<script src="{% static '/scripts/steps-setting.js' %}"></script>
	
</body>

</html>